* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;

}

.pages {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page1 {
    background-color: #373F51;
    color: white;
}

.page2 {
    background-color: #1B1B1E;
    color: white;
}

.page3 {
    background-color: #373F51;
}


.page1 h1 {
    position: absolute;
    top: 25%;
    left: 1%;
    font-size: 3em;
}

.moonHr {
    width: 100%;
    height: 51px;
    background-color: #58A4B0;
    border-color: #58A4B0;
    position: absolute;
    top: 30%;
    z-index: 1;
}

.charHr {
    width: 100vw;
    max-width: 100%;
    height: 76px;
    background-color: #1B1B1E;
    border: none;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(-40deg);
    overflow: hidden;
    clip-path: inset(0% 0% 0% 0%);
}

.page1 p {
    position: absolute;
    top: 40%;
    left: 65%;
    font-size: 20px;
}

.chevContainer {
    position: absolute;
    top: 96%;
    left: 37%;
    display: flex;
    justify-content: space-between;
    gap: 15em;
}


.chevron {
    display: inline-block;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);


}

.scrollTxt {
    position: relative;
    display: inline-block;
    padding-bottom: 3em;
}