* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.pages {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 {
    background-color: #373F51;
}

.page2 {
    background-color: #1B1B1E;
}

.page3 {
    background-color: #373F51;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.moon {
    width: 100%;
    height: 51px;
    background-color: #58A4B0;

}